/* Estilos generales */

body {
    font-family: Arial, sans-serif;
       
    background-color: plum;
    padding: 20px;
    margin-left: 300px;
    


  }
  
  
  
  a {
    text-decoration: none;
    color: #333;
  }

  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado */
  
  header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    font-size: 1.2em;
  }
  
  /* Estilos para el contenido principal */
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  section ul {
    margin-left: 20px;
  }
  
  /* Estilos para el pie de página */
  
  footer {
    background-color: #f2f2f2;
    /*border-top: 1px solid #ccc;*/
    border-top: 4px solid black;
    padding: 10px 20px;
    text-align: center;
  }
  p {
    color: black;
    size: 24px;
    text-align: left;
    padding: 0px 0px;
    text-align: left;

     
  }
  h1 {
    color:black;
    size: 40px;	
    text-align: left;
    

  }
  #name-label
  {
    color: black;
    size: 32px;	
    text-align: left;
  }
  #description{
    color: black;
    size: 32px;	
    text-align: left;
  }
  #survey-form {
    color: black;
    size: 32px;	
    text-align: left;
  }
  
  
